.Cabecera{
    width: 100%;
    background-color: #222;
    padding:1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    color: white;
}
.Cabecera-h1{ 
    
}
.Cabecera-a{
    
}
.Cabecera-button,
.Cabecera-user,
.Cabecera-store
{
    display: none;
    cursor: pointer;
}

.Cabecera-svg{
    width: 2em;
    height: 2em;
    fill: white;
}

.Cabecera-nav{
    
}

.Cabecera-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.Cabecera-li{
    margin: 0 1em;
}

@media screen and (max-width: 580px){
    .Cabecera-button{
        display: block;
        position: absolute;
    }
    .Cabecera-user{
        
    }
    .Cabecera-store{
        
    }
    .Cabecera-nav{
        width: 100%;
        display:none;
        flex-flow: column nowrap;
        justify-content: center;
        
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    .Cavecera-nav.isActive{
        height: 50vh;
        opacity: 1;
    }
    .Cabecera-ul{
        flex-direction:column;
    }
    .Cabecera-li{
        margin: .5em 0;
    }
    .Cabecera-a{
        position: relative;
        left: 16em;
    }
}