footer{
  margin: 1em;
  padding: 1em;
  background-color: white;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
}

.container{
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
    overflow: hidden;
}

.item{
  padding: 1em;
  margin: 1em;
  float: left;
  width: auto;
  height: auto;
}

#item1{
  background-color: white;
}

.logo{
      margin: 0 auto;
      font-size: 50px;
      width: 50px;
}

.pay{
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  pointer-events: none;
}

.paymentmethods{
  background-color: none;
  height: 40px;
}

.bank{
  position: static;
  top: 50px;
  left: 50px;
  right: 50px;
  display: inline-block;
  padding: 10px;
}

#item2{
    background-color: white;
}
.weare{
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#item3{
    background-color: white;
}
.social{
  font-weight: bolder;
}
.socialmedia{
  position: static;
  top: 50px;
  left: 50px;
  right: 50px;
  display: inline-block;
  padding: 10px;
}

#item4{
    background-color: white;
}
.contacto{
    font-weight: bolder;
}
